<script>
    function getFreshJSON(url) {
            return url + '?t=' + new Date().toISOString().split('T')[0];
        }
    $(document).ready(function () {
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/zhang-hongwen/zhang-hongwen.github.io@'
        $.getJSON(getFreshJSON(gsDataBaseUrl + 'gs-data/gs_data.json'), function (data) {
            var citationEles = document.getElementsByClassName('show_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                var numCitations = data['publications'][paperId]['num_citations']
                element.innerHTML = 'Citations: ' + numCitations;
            });
        });
    })
</script>
